<div class="row">  
  <div class="addbook-wrap"> 
    <div class="addbook-html">
      <form (ngSubmit)="editbook()" class="addbook-form">
        <h2>Edit Book</h2>
          <label for="title" class="text" >Title</label>
          <input type="text" value="{{book.title}}" name="title" autocomplete="off" class="input" required><br>
          <label for="author" class="text">Author</label>
          <input type="text" name="author" value="{{book.author}}" autocomplete="off" class="input" required><br>
          <label for="genre" class="text">Genre</label>
          <input type="text" name="genre" value="{{book.genre}}" autocomplete="off" class="input" required><br>
          <label for="about" class="text">About Book</label>
          <textarea rows = "5" cols = "60"  type="text" name="about" autocomplete="off" class="aboutinput" required >
            {{book.about}}
          </textarea><br>
          <label for="image" class="text">Image</label>
          <input type="file" name="image" value="{{book.image}}" autocomplete="off" class="input" required><br>
          <div class="group">
            <button type="submit" class="btn">Update</button>
          </div>
      </form>
    </div>
  </div>
</div>
<hr>