<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title"><img alt="" src="" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>{{books.title}}</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">{{books.author}}</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"> {{books.genre}} • 
              <div class="row">
                <div class="col-xs-3"></div>
                <p>{{books.about}}</p>
              </div>
          <hr>
          <!--/stories-->
          
          
          <a style="cursor:pointer" (click)="deletebook(books)" class="btn btn-danger pull-right btnNext">Delete</a>
          <a style="cursor:pointer" (click)="editbook(books)" class="btn btn-primary pull-right btnNext">Edit</a>
