<div class="row">   
  <div style="padding: 3rem;">
    <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <h1 style="color: rgb(10, 10, 80);text-align: center;padding-bottom: 2rem;" >Welcome to ELIBRARY</h1>
    <p style="text-align: center;">
      ELIBRARY (eLibrary) is a digital platform where you can enjoy reading your favorite books online.
    </p>
      <h3 style="color: rgb(10, 10, 80);">History</h3>
      <p>
        The early history of digital libraries is not well documented, but several key thinkers are connected to the emergence of the concept. Predecessors include Paul Otlet and Henri La Fontaine's Mundaneum, an attempt begun in 1895 to gather and systematically catalogue the world's knowledge, with the hope of bringing about world peace. The visions of the digital library were largely realized a century later during the great expansion of the Internet,
        with access to the books and searching of the documents by millions of individuals on the World Wide Web.
        Vannevar Bush and J.C.R. Licklider are two contributors that advanced this idea into then current technology. Bush had supported research that led to the bomb that was dropped on Hiroshima. After seeing the disaster, he wanted to create a machine that would show how technology can lead to understanding instead of destruction. This machine would include a desk with two screens, switches and buttons, and a keyboard. He named this the "Memex".
        This way individuals would be able to access stored books and files at a rapid speed. In 1956, Ford Foundation funded Licklider to analyze how libraries could be improved with technology.
        Almost a decade later, his book entitled "Libraries of the Future" included his vision. He wanted to create a system that would use computers and networks so human knowledge would be accessible for human needs and feedback would be automatic for machine purposes. This system contained three components, the corpus of knowledge, the question, and the answer. Licklider called it a procognitive system.
        Early projects centered on the creation of an electronic card catalogue known as Online Public Access Catalog (OPAC). By the 1980s, the success of these endeavors resulted in OPAC replacing the traditional card catalog in many academic, public and special libraries. This permitted libraries to undertake additional rewarding co-operative efforts to support resource sharing and expand access to library materials beyond an individual library.
        An early example of a digital library is the Education Resources Information Center (ERIC), a database of education citations, abstracts and texts that was created in 1964 and made available online through DIALOG in 1969.
        In 1994, digital libraries became widely visible in the research community due to a $24.4 million NSF managed program supported jointly by DARPA's Intelligent Integration of Information (I3) program, NASA, and NSF itself . Successful research proposals came from six U.S. universities  The universities included Carnegie Mellon University, University of California-Berkeley, University of Michigan,
        University of Illinois, University of California-Santa Barbara, and Stanford University. Articles from the projects summarized their progress at their halfway point in May 1996.  Stanford research, by Sergey Brin and Larry Page, led to the founding of Google.
        Early attempts at creating a model for digital libraries included the DELOS Digital Library Reference Model and the 5S Framework.
      </p>
   


<a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>

